<div id='document-detail'>
  <div id="doc-part-1">
    <h1> Titre document </h1>
    <table>
      <tr><th>Type de document</th></tr>
      <tr><td id=type>TYPE</td></tr>
      <tr><th>Auteurs</th></tr>
      <tr><td id="authors">AUTEURS</td></tr>
      <tr><th>Date inscription au dossier</th></tr>
      <tr><td id="date">01/02/2021</td></tr>
    </table>
  </div>
  <div id="doc-part-2">
    <header> </header>
    <img >
  </div>
</div>
