h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FF775C;
}

h1{
  font-family: RobotoBold;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #FF775C;
}

table {
  background-color: green;
}

.headList {
  font-family: RobotoBold;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #EDEAD0;
}

.elementList{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #EDEAD0;
}

/*
orange: #E16952;
orange_with_dark_background: #FF775C;
dark_background: #3F4757;
grey_background: #50596A;
beige: #EDEAD0;
grey: #626A78;
light_grey: #A6AAB1;
*/


#left-column{
  margin-top: -11px;
  float: left;
  width: 15%;
  height: 101vh;
  background-color: #50596A;
}

#right-content{
  float: right;
  height: 100vh;
  width: 85%;
}

event-detail , document-detail {
  position: absolute;
  background-color: #50596A;
  right: 0px;
  width: 35%;
  padding: 15px;
  border-radius: 7px;
  margin: 15px;
  display: none;
  z-index: 10;
}

@font-face{
  font-family: Roboto;
  src : url(font/Roboto-Regular.ttf);
  }
@font-face {
  font-family: RobotoBold;
  src : url(font/Roboto-Bold.ttf);
}
