<div>
  <div id="left-column">
    <left-column [data] ="data_selected"></left-column>
  </div>

  <div id="right-content">
    <event-detail></event-detail>
    <document-detail></document-detail>
    <app-scatter [data] ="data_selected" ></app-scatter>
    <app-second-scatter [data] ="data_selected"></app-second-scatter>
  </div>
</div>
