body{
  margin:0;
}

#fondNotice{
position: absolute;
top: 50%;
left: 50%;
width: 900px;
height: 600px;
transform: translate(-50%, -50%);
background: #50596A;
}

h1 {
  font-family: RobotoBold;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  text-align : center;
  line-height: 28px;
  color: #EDEAD0;

	letter-spacing: 1px;
}

#p1{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align : center;
  line-height: 25px;
  color: #EDEAD0;

}

#titreOeuvre{
  font-family: RobotoBold;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-align : center;
  line-height: 20px;
  color: #EDEAD0;
}


#p1b{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align : justify;
  line-height: 18px;
  color: #EDEAD0;
  display : inline;
  position: fixed;
  left : 100px;
  right : 40px;
}
#p2{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align : justify;
  line-height: 18px;
  color: #EDEAD0;
  display : inline;
  position: fixed;
  top: 235px;
  left : 100px;
  right : 40px;
}
#p3{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align : left;
  line-height: 18px;
  color: #EDEAD0;
  display : inline;
  position: fixed;
  top: 335px;
  left : 100px;
  right : 20px;
}
#id1{
  top: 155px;
  left: 30px;
  height:60px;
  width: 60px;
  background: #50596A;
  text-align : center;
  position: fixed;
  /*display: inline-block;
  vertical-align: top;
*/
}
#id2{
  top: 265px;
  left: 15px;
  width: 70px;
  height: 50px;
  position: fixed;
}

button{
  width: 80%;
  margin: 0 10%;
  height: 30px;
  background-color: #E16952;
  color : #EDEAD0;
  text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
  font-family : RobotoBold;
  border-bottom-width: 3px;
	border: 1px solid rgba(0,0,0,0.3);
}
button:hover{
  cursor: pointer;
}


#menu {
  position: absolute;
  bottom: 30px;
  padding: 0;
  margin: 0 10%;
  width: 80%;
}
#menu td{
  min-width: 50%;
}

#menu img {
  height:  100px;
  margin: 0 130px ;
}

@font-face{
  font-family: Roboto;
  src : url(font/Roboto-Regular.ttf);
  }
@font-face {
  font-family: RobotoBold;
  src : url(font/Roboto-Bold.ttf);
}
