<body>


<div id="fondNotice">
  <h1>CYGNI</h1>

  <div id='p1'>Vous allez découvrir la représentation graphique de dossier d’œuvre à travers le projet CYGNI. </div>

  <br>
  <br>
  <div id='p1b'>Les documents du dossier d’œuvre sont représentés par des cercles blancs creux sur le graphique. Lorsque vous sélectionnez ce document en cliquant sur le cercle ou sur le document dans la liste, le contenu du cercle devient orange. Les détails du document s’afficheront en haut à droite de l’écran. Lorsque le cercle devient orange creux, c’est que ce document est lié à l'événement que vous avez sélectionné. Vous pouvez également mettre en avant les documents liés à un thème (institutionnel, matériel ou culturel) en cliquant sur ce thème dans la liste.
 </div>


  <svg fill="none" id='id1' xmlns="http://www.w3.org/2000/svg">
    <circle cx="35.5" cy="22.5" r="7" fill="#E16952" stroke="#E16952"/>
    <circle cx="20.5" cy="6.5" r="6" stroke="#EDEAD0"/>
    <circle cx="21.5" cy="37.5" r="6" stroke="#EDEAD0"/>
    <circle cx="21.5" cy="37.5" r="3" fill="#EDEAD0" stroke="#EDEAD0"/>
    <path d="M42.4 22.5C42.4 26.3108 39.3108 29.4 35.5 29.4C31.6892 29.4 28.6 26.3108 28.6 22.5C28.6 18.6892 31.6892 15.6 35.5 15.6C39.3108 15.6 42.4 18.6892 42.4 22.5Z" stroke="#EDEAD0" stroke-width="1.2"/>
    <circle cx="6.5" cy="22.5" r="6" stroke="#E16952"/>
  </svg>
  <br><br><br>
  <div id='p2'>
Les événements sont représentés par des rectangles le long de la frise, par ordre chronologique. Lorsqu’ils sont en blanc, ils ne sont pas selectionnés. Lorsqu’ils sont oranges, ils sont sélectionnés. Dans ce cas, les détails de cet événement seront affichés dans l’encart en haut à droite. Lorsqu’un événement est sélectionné, les documents en lien avec cet événement seront affichés en orange. Les événements sont triés par type que vous pouvez sélectionner dans le menu prévu à cet effet.
 </div>

  <svg id='id2'  fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="13" y="21" width="2" height="12" fill="#EDEAD0"/>
    <rect x="43" y="17" width="2" height="16" fill="#E16952"/>
    <path d="M68.3536 34.3536C68.5488 34.1583 68.5488 33.8417 68.3536 33.6464L65.1716 30.4645C64.9763 30.2692 64.6597 30.2692 64.4645 30.4645C64.2692 30.6597 64.2692 30.9763 64.4645 31.1716L67.2929 34L64.4645 36.8284C64.2692 37.0237 64.2692 37.3403 64.4645 37.5355C64.6597 37.7308 64.9763 37.7308 65.1716 37.5355L68.3536 34.3536ZM0 34.5H68V33.5H0V34.5Z" fill="#EDEAD0"/>
    <path d="M24 0H60V10H24V0Z" fill="#E16952"/>
    <path d="M20 0H66V10H20V0Z" fill="#E16952"/>
    <path d="M25.46 5.84131H23.5322L23.1289 7H22.23L24.1099 2.02344H24.8857L26.769 7H25.8667L25.46 5.84131ZM23.7749 5.14404H25.2173L24.4961 3.07959L23.7749 5.14404ZM31.0586 5.37988C31.0085 5.91081 30.8125 6.32552 30.4707 6.62402C30.1289 6.92025 29.6743 7.06836 29.1069 7.06836C28.7104 7.06836 28.3607 6.97493 28.0576 6.78809C27.7568 6.59896 27.5244 6.33122 27.3604 5.98486C27.1963 5.63851 27.1108 5.23633 27.104 4.77832V4.31348C27.104 3.84408 27.1872 3.4305 27.3535 3.07275C27.5199 2.71501 27.758 2.43929 28.0679 2.24561C28.38 2.05192 28.7401 1.95508 29.1479 1.95508C29.6971 1.95508 30.1392 2.10433 30.4741 2.40283C30.8091 2.70133 31.0039 3.12288 31.0586 3.66748H30.1973C30.1562 3.30973 30.0514 3.05225 29.8828 2.89502C29.7165 2.73551 29.4715 2.65576 29.1479 2.65576C28.772 2.65576 28.4826 2.79362 28.2798 3.06934C28.0793 3.34277 27.9767 3.74495 27.9722 4.27588V4.7168C27.9722 5.25456 28.0679 5.66471 28.2593 5.94727C28.453 6.22982 28.7355 6.37109 29.1069 6.37109C29.4465 6.37109 29.7017 6.29476 29.8726 6.14209C30.0435 5.98942 30.1517 5.73535 30.1973 5.37988H31.0586ZM35.7891 4.6416C35.7891 5.11328 35.7139 5.5223 35.5635 5.86865C35.4154 6.21273 35.2069 6.48617 34.938 6.68896L35.7925 7.35547L35.2319 7.86133L34.1724 7.02393C34.0334 7.05355 33.8841 7.06836 33.7246 7.06836C33.3236 7.06836 32.9647 6.97038 32.6479 6.77441C32.3335 6.57617 32.0897 6.29476 31.9165 5.93018C31.7456 5.56559 31.659 5.14518 31.6567 4.66895V4.38867C31.6567 3.90332 31.7422 3.47493 31.9131 3.10352C32.0863 2.7321 32.3289 2.4484 32.6411 2.25244C32.9556 2.0542 33.3145 1.95508 33.7178 1.95508C34.1279 1.95508 34.4891 2.05306 34.8013 2.24902C35.1157 2.44271 35.3584 2.72298 35.5293 3.08984C35.7002 3.45443 35.7868 3.87939 35.7891 4.36475V4.6416ZM34.9209 4.38184C34.9209 3.82129 34.8161 3.39632 34.6064 3.10693C34.3968 2.81755 34.1006 2.67285 33.7178 2.67285C33.3464 2.67285 33.0547 2.81982 32.8428 3.11377C32.6331 3.40544 32.526 3.81787 32.5215 4.35107V4.6416C32.5215 5.17936 32.6263 5.59977 32.8359 5.90283C33.0479 6.20589 33.3441 6.35742 33.7246 6.35742C34.1097 6.35742 34.4048 6.21159 34.6099 5.91992C34.8172 5.62826 34.9209 5.20215 34.9209 4.6416V4.38184ZM40.3076 2.02344V5.34912C40.3076 5.87777 40.1379 6.29704 39.7983 6.60693C39.4611 6.91455 39.0111 7.06836 38.4482 7.06836C37.8786 7.06836 37.4263 6.91683 37.0913 6.61377C36.7563 6.30843 36.5889 5.88574 36.5889 5.3457V2.02344H37.4502V5.35254C37.4502 5.68522 37.5345 5.93929 37.7031 6.11475C37.8717 6.2902 38.1201 6.37793 38.4482 6.37793C39.1136 6.37793 39.4463 6.02702 39.4463 5.3252V2.02344H40.3076ZM42.1465 7H41.2852V2.02344H42.1465V7ZM45.8105 5.71826C45.8105 5.49951 45.7331 5.33089 45.5781 5.2124C45.4255 5.09391 45.1486 4.97428 44.7476 4.85352C44.3465 4.73275 44.0275 4.59831 43.7905 4.4502C43.3371 4.16536 43.1104 3.79395 43.1104 3.33594C43.1104 2.9349 43.2733 2.60449 43.5991 2.34473C43.9272 2.08496 44.3522 1.95508 44.874 1.95508C45.2204 1.95508 45.5291 2.01888 45.8003 2.14648C46.0715 2.27409 46.2845 2.45638 46.4395 2.69336C46.5944 2.92806 46.6719 3.18896 46.6719 3.47607H45.8105C45.8105 3.21631 45.7285 3.01351 45.5645 2.86768C45.4027 2.71956 45.1702 2.64551 44.8672 2.64551C44.5846 2.64551 44.3647 2.70589 44.2075 2.82666C44.0526 2.94743 43.9751 3.11605 43.9751 3.33252C43.9751 3.51481 44.0594 3.66748 44.228 3.79053C44.3966 3.9113 44.6746 4.02979 45.062 4.146C45.4494 4.25993 45.7604 4.39095 45.9951 4.53906C46.2298 4.6849 46.4019 4.85352 46.5112 5.04492C46.6206 5.23405 46.6753 5.45622 46.6753 5.71143C46.6753 6.12614 46.5158 6.45654 46.1968 6.70264C45.88 6.94645 45.4494 7.06836 44.9048 7.06836C44.5448 7.06836 44.2132 7.00228 43.9102 6.87012C43.6094 6.73568 43.3747 6.55111 43.2061 6.31641C43.0397 6.08171 42.9565 5.80827 42.9565 5.49609H43.8213C43.8213 5.77865 43.9147 5.9974 44.1016 6.15234C44.2884 6.30729 44.5562 6.38477 44.9048 6.38477C45.2056 6.38477 45.4312 6.32438 45.5815 6.20361C45.7342 6.08057 45.8105 5.91878 45.8105 5.71826ZM48.3467 7H47.4854V2.02344H48.3467V7ZM52.9028 2.7207H51.3511V7H50.4932V2.7207H48.9551V2.02344H52.9028V2.7207ZM54.4717 7H53.6104V2.02344H54.4717V7ZM59.5063 4.6416C59.5063 5.12923 59.422 5.55762 59.2534 5.92676C59.0848 6.29362 58.8433 6.57617 58.5288 6.77441C58.2166 6.97038 57.8566 7.06836 57.4487 7.06836C57.0454 7.06836 56.6854 6.97038 56.3687 6.77441C56.0542 6.57617 55.8104 6.29476 55.6372 5.93018C55.4663 5.56559 55.3797 5.14518 55.3774 4.66895V4.38867C55.3774 3.90332 55.4629 3.47493 55.6338 3.10352C55.807 2.7321 56.0496 2.4484 56.3618 2.25244C56.6763 2.0542 57.0363 1.95508 57.4419 1.95508C57.8475 1.95508 58.2064 2.05306 58.5186 2.24902C58.833 2.44271 59.0757 2.72298 59.2466 3.08984C59.4175 3.45443 59.5041 3.87939 59.5063 4.36475V4.6416ZM58.6416 4.38184C58.6416 3.8304 58.5368 3.40771 58.3271 3.11377C58.1198 2.81982 57.8247 2.67285 57.4419 2.67285C57.0682 2.67285 56.7754 2.81982 56.5635 3.11377C56.3538 3.40544 56.2467 3.81901 56.2422 4.35449V4.6416C56.2422 5.18848 56.3481 5.61117 56.5601 5.90967C56.7743 6.20817 57.0705 6.35742 57.4487 6.35742C57.8315 6.35742 58.1255 6.21159 58.3306 5.91992C58.5379 5.62826 58.6416 5.20215 58.6416 4.6416V4.38184ZM64.3154 7H63.4507L61.2324 3.46924V7H60.3677V2.02344H61.2324L63.4575 5.56787V2.02344H64.3154V7Z" fill="#EDEAD0"/>
    </svg>
  <br>
  <div id='p3'>Un clic au centre du graphique remettra à zéro l’application, sans séléction. </div>

  <nav>
    <table id="menu">
      <tr><td> <img src="assets/img/geodesie.png" alt=""> </td> <td> <img src="assets/img/necessaire.png" alt=""> </td></tr>
      <tr></tr>
      <tr><td>
        <button  [routerLink]="'/work-record'" [state]="{ id:0}"> Appareil de Géodésie</button>
       </td> <td>
         <button [routerLink]="'/work-record'" [state]="{ id:1}"> Nécéssaire de Marie-antoinette</button>
       </td></tr>
   </table>
  </nav>

</div>


</body>
